
@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
@model UpdateFeatureDto

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Ana Sayfa Hakkımızda İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Hakkımızda Yazı Güncelleme Sayfası</div>
                        </div>
                        <input type="hidden" asp-for="FeatureID" />
                        <div class="card-body">
                            <div class="form-group">
                                <label for="FeatureName1">Başlığı Giriniz</label>
                                <input type="text" class="form-control" asp-for="FeatureName1" id="FeatureName1">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="FeatureName2">Görselin Url'ini Giriniz</label>
                                <input type="text" class="form-control" asp-for="FeatureName2" id="FeatureName2">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="FeatureName3">Görselin Url'ini Giriniz</label>
                                <input type="text" class="form-control" asp-for="FeatureName3" id="FeatureName3">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Description1">Görselin Url'ini Giriniz</label>
                                <input type="text" class="form-control" asp-for="Description1" id="Description1">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Description2">Görselin Url'ini Giriniz</label>
                                <input type="text" class="form-control" asp-for="Description2" id="Description2">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Description3">Görselin Url'ini Giriniz</label>
                                <input type="text" class="form-control" asp-for="Description3" id="Description3">
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary">Hakkımda Yazısını Güncelle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

