
@{
    ViewData["Title"] = "CreateSocialMedia";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

@model CreateSocialMediaDto
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Ana Sayfa Hakkımızda İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni Hakkımızda Yazı Girişi</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="SocialMediaTitle">Sosyal Medya Başlığını Giriniz</label>
                                <input type="text" class="form-control" asp-for="SocialMediaTitle" id="SocialMediaTitle">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="SocialMediaImage">Görseli Giriniz</label>
                                <input type="text" class="form-control" asp-for="SocialMediaImage" id="SocialMediaImagee">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="SocialMediaUrl">Görselin Url'ini Giriniz</label>
                                <input type="text" class="form-control" asp-for="SocialMediaUrl" id="SocialMediaUrl">                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary">Sosyal Medya Ekle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

